@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
body {
  background: #bbc6fc;
}
.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.quote-box h2 {
  font-size: 32px;
  margin: 0 0 40px 0;
  position: relative;
}

.quote-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}
.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';
}
.quote-box span {
  display: block;
  margin: 10px 0 0 0;
  float: right;
  position: relative;
}
.quote-box span::before {
  content: "";
  width: 20px;
  height: 2px;
  background: rgb(23, 124, 229);
  position: absolute;
  top: 50%;
  left: -22px;
}
.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.quote-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  /* width: 150px;
  height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 30px;
  margin: 5px;
  cursor: pointer;
}

.tweet-btn img {
  width: 20px;
  margin: 0 10px 0 0;
}
.tweet-btn img:nth-child(2) {
  background: transparent;
  color: #333;
}
