* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3fbff;
}
.img-box {
  width: 60%;
  margin: auto;
  line-height: 0;
  /* background-image: url(); */
  overflow: hidden;
  position: relative;
}
.img-wrap {
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

span {
  width: 1px;
  height: 100%;
  cursor: ew-resize;
  background: #fff;
  position: absolute;
  left: 20px;
  top: 0;
}
.arrow {
  width: 40px;
  position: absolute;
  top: 50%;
  margin: -20px 0 0 -20px;
}
