* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Poppins";
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #010758, #490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.container h1 {
  font-size: 45px;

  font-weight: 500;
  margin: -50px 0 50px 0;
}
span {
  color: #ff2963;
}
textarea {
  width: 600px;
  height: 250px;
  background: #403d84;
  color: #fff;
  font-size: 15px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin: 0 0 30px 0;
}
textarea::placeholder {
  font-family: sans-serif, "Poppins";

  font-size: 16px;
  color: #fff;
}
.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}
button {
  background: #ff2963;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
i {
  transform: scale(1.5);
  margin: 0 10px;
}

select {
  flex: 1;
  color: #fff;
  background: #403d84;
  height: 50px;
  padding: 0 20px;
  outline: 0;
  border: 0;
  border-right: 35px;
  /* background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100% - 20px);
  background-position-y: 20px; */
}
