* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Poppins";
  box-sizing: border-box;
}
body {
  background: #191919;
}
.gallery {
  width: 900px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gallery div img {
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
.gallery-wrap i {
  color: #fff;
  transform: scale(2.5);
}
#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 40px;
}
.gallery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
